<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Firepad</title>

    <!-- Firebase -->
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app-check.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-auth.js"></script>

    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.17.0/codemirror.css"
    />

    <!-- Firepad -->
    <link
      rel="stylesheet"
      href="https://firepad.io/releases/v1.5.10/firepad.css"
    />
    <script src="https://firepad.io/releases/v1.5.10/firepad.min.js"></script>
    <script src="./js/firepad-userlist.js"></script>
    <link rel="stylesheet" href="./css/firepad-userlist.css" />

    <!--Diff-->
    <script
      type="text/javascript"
      src="/js/diff_match_patch_uncompressed.js"
    ></script>

    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css"
      rel="stylesheet"
    />

    <!--My Style-->
    <link rel="stylesheet" href="/scss/styles.css" />

    <style>
      html {
        height: 100%;
      }
      body {
        margin: 0;
        height: 100%;
      }
    </style>
  </head>

  <%- include('../common/navbar.html') %>
  <body onload="init()">
    <!--Main Navigation-->
    <header>
      <!-- Background image -->
      <div
        id="intro"
        class="p-5 text-center bg-image shadow-1-strong"
        style="background-image: url('/img/bg.png')"
      >
        <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div class="text-white px-4">
              <div id="container">
                <div id="userlist"></div>
                <div id="firepad"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Background image -->
    </header>

    <!--Footer-->
    <footer class="bg-light text-lg-start">
      <div class="py-4 text-center">
        <button ype="button" class="btn btn-primary" onclick="goToRecogito()">
          Annota il testo
        </button>
      </div>

      <hr class="m-0" />
    </footer>
    <%- include('../common/footer.html') %>
    <!--Footer-->

    <script>
      var apiKey = <%- JSON.stringify(apiKey) %>;
      var authD = <%- JSON.stringify(authDomain) %>;
      var dbUrl = <%- JSON.stringify(databaseUrl) %>;
      var firepadRef;
      var codeMirror;
      var firepad;
      var dataRecogito;

      function init() {
        const config = {
          apiKey: apiKey,
          authDomain: authD,
          databaseURL: dbUrl,
        };

        firebase.initializeApp(config);

        //// Get Firebase Database reference.
        firepadRef = getExampleRef();

        //// Create CodeMirror (with lineWrapping on).
        codeMirror = CodeMirror(document.getElementById("firepad"), {
          lineWrapping: true,
        });

        // Create a random ID to use as our user ID (we must give this to firepad and FirepadUserList).
        userId = Math.floor(Math.random() * 9999999999).toString();

        //// Create Firepad (with rich text features and our desired userId).
        firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, {
          richTextToolbar: true,
          richTextShortcuts: true,
          userId: userId,
        });

        //// Create FirepadUserList (with our desired userId).
        var firepadUserList = FirepadUserList.fromDiv(
          firepadRef.child("users"),
          document.getElementById("userlist"),
          userId
        );

        //// Initialize contents.
        firepad.on("ready", function () {
          if (firepad.isHistoryEmpty()) {
            fetch("/text")
              .then((res) => res.text())
              .then((data) => {
                dataRecogito = data;
                firepad.setHtml(data);
                localStorage.setItem("prevtext", data);
              });
          }
        });
      }

      function getExampleRef() {
        var ref = firebase.database().ref();
        var hash = window.location.hash.replace(/#/g, "");
        if (hash) {
          ref = ref.child(hash);
        } else {
          ref = ref.push();
          window.location = window.location + "#" + ref.key;
        }
        if (typeof console !== "undefined") {
          console.log("Firebase data: ", ref.toString());
        }
        return ref;
      }

      function goToRecogito() {
        str = diffBasic(dataRecogito, firepad);

        fetch("/text", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            text: firepad
              .getHtml()
              .replaceAll("<div>", "<p>")
              .replaceAll("</div>", "</p>")
              .replaceAll("&#39;", "'"),
            version: window.location.hash.replace(/#/g, ""),
          }),
        })
          .then(
            fetch("/diff", {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({
                prevtext: localStorage.getItem("prevtext"),
                diff: str,
              }),
            }),
            localStorage.removeItem("prevtext")
          )
          .then(() => (location.href = "/exit/firepad"));

        function diffBasic(dataRecogito, firepad) {
          var dmp = new diff_match_patch();

          var diff = dmp.diff_main(
            dataRecogito.replace(/<\/?[^>]+(>|$)/g, ""),
            firepad.getHtml().replace(/<\/?[^>]+(>|$)/g, "")
          );

          return diff;
        }
      }
    </script>
  </body>
  <!-- MDB -->
  <script
    type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.js"
  ></script>
</html>
